

.center-text {
  text-align: center;
}

.div-to-center {
  padding-top: 18%;
  align-items: center;
  align-content: center;
  text-align: center;
}

.login-form {
  border-style:solid;
  border-width: 1px;
  border-color: #ffffff;
}